@media screen and (max-width: 1024px) {
  html {
    margin: 0;
    padding: 0;
  }
  body {
    width: 1024px;
    margin: 0;
    padding: 40px 40px;
    box-sizing: border-box;
  }
  header .hamburger-menu {
    display: flex;
    align-items: center;
  }
  header .btn {
    padding: 15px 30px;
    font-size: 16px;
  }
  main .hero {
    gap: 10px;
  }
  main .hero__img img {
    width: 450px;
    height: 450px;
  }
  main .hero__text {
    width: 390px;
    margin-top: 0;
  }
  main .hero__text h1 {
    font-size: 44px;
    margin: 0;
    margin: 0 0 20px 0;
  }
  main .hero__text p {
    font-size: 16px;
  }
  main .hero__text .line2 span {
    display: none;
  }
  main .hero__text .line2 p {
    margin: 0;
  }
  main .hero__text .line3 {
    width: 340px;
    border: 0.6px solid #C8C8C8;
  }
  main .hero__text2 {
    margin-top: 0;
  }
  .projects {
    display: flex;
    gap: 0;
    margin-bottom: 140px;
    align-items: center;
  }
  .projects .card1 {
    background: #FDF5EF;
    border-radius: 5px;
    box-shadow: 0px 12px 30px rgba(212, 212, 212, 0.35);
    border-radius: 20px;
  }
  .projects .card2 {
    background: #F3F1FA;
    border-radius: 20px;
    box-shadow: 0px 12px 30px rgba(212, 212, 212, 0.35);
  }
  .projects .card_text {
    padding: 55px 0 0 55px;
    width: 250px;
  }
  .projects .card_text p {
    font-size: 18px;
    color: #757683;
  }
  .projects .card_text h2 {
    font-family: "Semibold";
    font-size: 28px;
    color: #1B1C23;
  }
  .projects .card_img {
    padding: 40px 35px 0 35px;
    width: 383px;
  }
  .about {
    gap: 50px;
  }
  .about img {
    width: 370px;
  }
  .about__text h1 {
    font-size: 36px;
  }
  .about__text__con {
    padding: 0;
  }
  .about__text__con div {
    gap: 10px;
  }
  .about__stat {
    gap: 0;
    justify-content: space-between;
    padding: 0;
  }
  .services {
    width: 944px;
    height: 600px;
  }
  .services .title {
    margin-top: 60px;
  }
  .services__cards {
    padding: 0;
  }
  .services__cards__card {
    padding: 15px 20px;
    width: 230px;
    height: auto;
  }
  .services__cards__card .item h3 {
    font-size: 18px;
  }
  .services__cards__card p {
    font-size: 12px;
  }
  .services .services_btn {
    margin-top: 50px;
  }
  .education {
    gap: 50px;
  }
  .education .ed {
    width: 688px;
  }
  .education .ed__img {
    margin-bottom: 30px;
  }
  .education .ed__img img {
    width: 250px;
  }
  .cta__img {
    padding-top: 30px;
  }
  .cta__img img {
    width: 350px;
  }
  .cta__text h1 {
    font-size: 36px;
  }
  .testimonial {
    gap: 40px;
    padding: 0;
    width: 644px;
    padding: 0 150px;
  }
  .testimonial .test_text #p2 {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .testimonial .test_text .test_img {
    display: flex;
    gap: 30px;
  }
  .testimonial .test_text .test_img img {
    width: 50px;
    height: 50px;
  }
  .blog {
    margin-bottom: 100px;
  }
  .blog__box {
    align-items: center;
    gap: 10px;
  }
  .blog__box__card {
    width: 300px;
    height: 410px;
  }
  .blog__box__card .blog1 {
    width: 300px;
  }
  .blog__box__card .time {
    gap: 30px;
  }
  .blog__box__card .time .data, .blog__box__card .time .clock {
    display: flex;
    gap: 10px;
  }
  .blog__box__card .time .data p, .blog__box__card .time .clock p {
    font-size: 12px;
  }
  .blog__box__card__text h2 {
    font-size: 20px;
  }
  .blog__box__card .client img {
    width: 120px;
  }
  .hire {
    padding: 0 30px;
  }
  .hire h1 {
    font-size: 36px;
  }
  .hire a {
    gap: 10px;
  }
  .hire a h2 {
    font-size: 36px;
  }
  footer .footer__text {
    background: #f5f5f5;
    padding: 20px 0;
    width: 944px;
    border-radius: 20px;
    gap: 30px;
    box-shadow: 0px 12px 30px rgba(237, 237, 237, 0.35);
  }
  footer .footer__text__text1 {
    padding: 50px 0 0 0;
  }
  footer .footer__text__text2 {
    padding: 0 40px;
    align-items: center;
  }
  footer .footer__text__text2 nav ul {
    padding: 0;
    gap: 20px;
  }
  footer .footer__text__text2 nav ul .menu__item {
    padding: 0;
  }
}/*# sourceMappingURL=desktop-mini.css.map */