@media screen and (max-width:425px){
    html{
        margin: 0;
        padding: 0;
    }
    body{
    width: 425px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    }
    //header//
    .btn{
        display: none;
    }
    header{
        display: flex;
        margin-bottom: 20px;
    }
    #menu__toggle {
        opacity: 0;
    }
    .menu__btn {
        position: absolute;
        margin-left: 360px;
        margin-top: 25px;            
        align-items: center;  
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
    .menu__box {
        display: block;
        position: absolute;
        z-index:1;
        top: 0;
        left: -190%;
        width: 150px;
        height: 30%;
        margin-left: 270px;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #fff;
        border: 0.1px solid #747474;
        box-shadow: 1px 0px 6px rgba(142, 142, 142, 0.2);
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: rgb(36, 36, 36);
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      } 

    //hero//
    main{
        .hero{
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            &__text{
                order: 2;
                align-items: center;
                margin-top: 0;
                &__btn{
                    display: none;
                }
                #btnp{
                    display: none;
                }
                h1{
                    text-align: center;
                    margin: 0;
                    margin: 0 0 20px 0;
                    font-size: 40px;
                }
                .line2{
                    span{
                        display: none;
                    }
                    p{
                        width: 270px;
                        text-align: center;
                        margin: 0;
                        font-size: 16px;
                    }
                }
                .line3{
                    width: 385px;
                }
            }
            &__img{
                order: 1;
                img{
                    width: 360px;
                    height: 300px;
                }
            }
            &__text2{
                display: none;
            }
        }
    }
    //projects//
    .projects{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 100px;
        padding: 0 30px;
        .card1{
            background: #FDF5EF;
            border-radius: 5px;
            box-shadow: 0px 12px 30px rgba(212, 212, 212, 0.35);
            border-radius: 20px;
        }
        .card2{
            background: #F3F1FA;
            border-radius: 5px;
            border-radius: 20px;
            box-shadow: 0px 12px 30px rgba(212, 212, 212, 0.35);
        }
        .card_text{
            padding: 40px 0 0 30px;
            width: 250px;
            text-align: center;
            p{
                font-size: 16px;
                color: #757683;
            }
            h2{
                font-family: 'Semibold';
                font-size: 20px;
                color: #1B1C23;
            }
        }
        .card_img{
           padding: 50px 30px 0 30px; 
           width: 265px;
        }
    }
    //About//
    .about{
        img{
            display: none;
        }
        &__text{
            width: 385px;   
            h1{
                text-align: center;
                font-size: 30px;
            }
            &__con{
                flex-direction: column;
                align-items: center;
                padding: 0 20px;
                gap: 20px;
                margin-bottom: 20px;
                div{
                    gap: 10px;
                    .bg_text{
                        width: 200px;
                        h4{
                            font-size: 18px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &__stat{
            gap: 0;
            justify-content: space-between;
            padding: 0 20px;
            div{
                h1{
                    font-size: 26px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
    //services//
    .services{
        width: 385px;
        height: 1530px;
        margin-bottom: 100px;
        &__cards{
            grid-template-columns: repeat(1,6fr);
            grid-gap: 30px;
            padding: 0;
            &__card{
                width: 250px;
                height: auto;
                padding: 15px 20px;
                align-items: center;
                .item{
                    flex-direction: column;
                    align-items: center;
                    gap: 0;
                    h3{
                        font-size: 18px;
                        text-align: center;
                    }
                    img{
                        width: 40px;
                    }
                }
                p{
                    text-align: center;
                    margin: 0;
                    font-size: 12px;
                }
                
            }
        }
        .services_btn{
            padding: 15px 15px;
            margin-top: 40px;
            button{
                font-size: 12px;
                padding: 15px 20px;
            }
        }
    }
    //ed//
    .education{
        flex-direction: column;
        gap: 50px;
        padding: 0 20px;
        .ed{
            width: 345px;
            hr{
                margin-bottom: 10px;
            }
            &__img{
                margin: auto;
                width: 50%;
                img{
                    width: 180px;
                }
            }
            &__card{
                &__left{
                    h5{
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                        margin-bottom: 20px;
                    }
                }
                &__left2{
                    gap: 5px;
                    img{
                        width: 30px;
                    }
                    div{
                        h5{
                            font-size: 18px;
                        }
                        p{
                            width: 150px;
                            font-size: 14px;
                            margin-bottom: 20px;
                        } 
                    }
                }
                &__right{
                    li{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    //cta//
    .cta{
        align-items: center;
        flex-direction: column;
        height: auto;
        background: #1B1C23;
        padding: 30px 40px;
        margin-bottom: 100px;
        &__img{
            img{
                width: 250px;
                height: 250px;
            }
        }
        &__text{
            align-items: center;
            text-align: center;
            padding: 0 0 30px 0;
            h1{
                font-size: 24px;
            }
            p{
                font-size: 14px;
            }
        }
    }

    //testimonial//
    .testimonial{
        gap: 10px;
        padding: 0;
        width: 385px;
        margin-bottom: 100px;
        .test_btn{
            img{
                width: 40px;
                height: 40px;
            }
        }
        .test_text{
            img{
                width: 40px;
            }
            #p2{
                font-size: 18px;
                margin-bottom: 20px;
            }
            .test_img{
                display: flex;
                gap: 15px;
                img{
                    width: 40px;
                    height: 40px;
                }
            } 
        }

    }
    //blog//
    .blog{
        margin-bottom: 100px;
        h1{
            font-size: 36px;
        }
        &__box{
            flex-direction: column;
            align-items: center;
            gap: 50px;
            &__card{
                width: 300px;
                height: 410px;
                .blog1{
                    width: 300px;
               }
                .time{
                    gap: 40px;
                    .data,.clock{
                        gap: 10px;
                        p{
                            font-size: 12px;
                        }
                    }
                }
                &__text{
                    h2{
                        font-size: 20px;
                    }
                }
                .client{
                    margin: -20px 0 0 90px;
                    img{
                        width: 120px;
                    }
                }
            }
        }
    }
    //hireus//
    .hire{
        padding: 0 30px;
        margin-bottom: 100px;
        h1{
            font-size: 30px;
        }
        a{
            gap: 10px;
            h2{
                font-size: 24px;
            }
            img{
                width: 20px;
            }
        }
    }
    //footer//
    footer{
        .footer{
            p{
                font-size: 12px;
            }
            &__text{
                background: #f5f5f5;
                padding: 20px 0;
                width: 385px;
                border-radius: 20px;
                gap: 30px;
                box-shadow: 0px 12px 30px rgba(237, 237, 237, 0.35);
                &__text1{
                    padding: 50px 0 0 0;
                    h1{
                        font-size: 30px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                &__text2{
                    flex-direction: column;
                    padding: 0;
                    align-items: center;

                    nav{
                        ul{
                            padding: 0;
                            gap: 25px;
                            .menu__item{
                                padding: 0;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

    }
        
}